<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Volume_Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Volume_Control.Properties.Settings>
            <setting name="HotkeyUPModifier" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HotkeyUPChar" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="HotkeyDOWNModifier" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HotkeyDOWNChar" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="HotkeyMUTEModifier" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HotkeyMUTEChar" serializeAs="String">
                <value>35</value>
            </setting>
        </Volume_Control.Properties.Settings>
    </userSettings>
</configuration>
